<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- add entry to enable component scanning -->

	<context:component-scan base-package="com.luv2code.springdemo" ></context:component-scan>
	<bean id="myFortune"
		class="com.excercises.springdemo.HappyFortuneService">
	</bean>
	
	<bean id="myCoachConstructorInj"
		class="com.excercises.springdemo.TrackCoach">
		
		<!--set up constructor injection -->
		<constructor-arg ref="myFortune"/>

	</bean>
	<bean id="myCoachSetterInj"
		class ="com.excercises.springdemo.CricketCoach">
	
		<!--set up setter injection -->
		<property name="fortuneService" ref="myFortune"></property>
		<!--> inject values -->
		<property name="email" value="frodo@mat.umk.pl"/>
		<property name="team" value="cocksuckers"/>
	</bean>
	


	<bean id="myLoggerConfig" class = "loggin.settings.MyLoggerConfig" init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>
</beans>





